
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins Regular", sans-serif;
  color: #444444;
}

a {
  color: #096956;
  text-decoration: none;
}

a-servicio{
  padding-top: 5px !important;
  color:#0c0c0c !important

}

a:hover {
  color: #079f81;
  text-decoration: none;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  /* font-weight: bold; */
}

.h2{
  font-family: 'Poppins', sans-serif;
  font-weight: regular;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #079f81;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #079f81;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.hero form .form-control {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 10px;
  border: none !important;
  background: none !important;
}


.btn-primary2{
  border-radius: 1px !important;
  border: none;
  background-color: #096956;
  box-shadow: #4c4c4c;
  font-family:'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-left: 55%;

}

.btn-primary2:hover{
  background: #0d4f41;
  color: #fdc727;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #096956;
  border-top-color: #efefef;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #191919;
  font-size: 15px;
  height: 40px;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

#topbar .contact-info a {
  line-height: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #fff;
}

#topbar .contact-info i {
  color: #096956;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.6);
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /* background: #096956; */
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
}

#header.fixed-top {
  background: #096956;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  padding-top: 15px;
  max-height: 230px;
  /* filter: drop-shadow(3px 2px 2px rgba(147, 140, 140, 0.851)); */
}

.scrolled-offset {
  margin-top: 70px;
}





/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  margin-left: 5px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 24px 15px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  background: #032a1d;
  color: rgba(253,199,75,255);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #191919;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #fff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.img-fluid-service {
  width: 650px;
  height: 500px !important;
  margin-left: 350px;
  
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }

  .imgAbout {
    padding-top: 15px;

  }

 

}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #096956;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #096956;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 17px;
  color: white;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #fdc727c4;
  background: none;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #096956;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 70px);
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: 100%;
  background-position: top center;
  position: relative;
}


#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

#hero h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color:#096956;
  margin-left: 250px;
}

#hero h2 {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 250px;
}

#hero .btn-get-started {
  font-family: "Poppins Regular", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #096956;
  border-color: #096956;
}

/* revisado ok */
@media (min-width: 0px) and (max-width: 370px) {
  #hero {
    text-align: center;
  }

  #hero .container {
    padding-top: 40px;
  }

  #hero h1 {
    color: black!important;
    font-size: 25px;
    font-weight: bold;
    line-height: 36px;
    margin-left: 0px !important;
    width: 100%;
    margin-bottom: 0px !important;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
    color: black!important;
    font-weight: bold;
    width: 100%;
    margin-left: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 10px;
  }
  #hero:before{
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  }
  .btn-primary2{
    margin-top: -5px !important; /* Añade un margen superior para separarlo */
    margin-left: 0px;
    font-size: 15px;
  }
}

/* revisado ok, se podria mejorar (ver margen izq) */
  @media (min-width: 370px) and (max-width: 700px)  {
    #hero {
      text-align: center;
    }
    #hero .container {
      padding-top: 40px;
    }
    #hero h1 {
      color: black !important;
      font-weight: bold;
      line-height: 36px;
      margin-left: 5px !important;
      width: 100%;
    }
    #hero h2 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
      color: black !important;
      font-weight: bold;
      margin-left: 5px !important;
      width: 100%;
    }
    .btn-primary2{
      margin-top: 10px; /* Añade un margen superior para separarlo */
      margin-left: 0px !important;
    }
    #hero:before{
    background: url("../img/hero-bg.jpg") top center no-repeat;
    background-size: cover;
    }
}

/* revisado ok */
@media (min-width: 700px) and (max-width: 900px){
  #hero {
    text-align: center;
  }
  #hero .container {
    padding-top: 40px;
  }
  #hero h1 {
    color: #096956 !important;
    font-size: bold;
    line-height: 36px;
    margin-left: 10% !important;
    width: 100%;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    color: black !important;
    font-weight: bold;
    margin-left: 10% !important;
    width: 100%;
  }
  .btn-primary2{
    margin-top: 0; /* Elimina el margen superior */
    margin-left: 20%;
  }
  #hero:before{
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  }
}
/* revisado ok */
@media (min-width: 900px) and (max-width: 1100px) {
  #hero {
    background-attachment: fixed;
  }
  #hero:before{
    background: url("../img/hero-bg.jpg") top center no-repeat;
    background-size: cover;
  }
  #hero h1 {
    color: #096956 !important;
    line-height: 36px;
    margin-left: 20% !important;
    width: 100%;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    color: black !important;
    font-weight: bold;
    width: 100%;
    margin-left: 20% !important;
  }
  .btn-primary2{
    margin-top: 0; /* Elimina el margen superior */
    margin-left: 45%;
  }

}

/* ver si es necesario, no revisado */
@media (min-width: 1100px) and (max-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }

  #hero:before{
    background: url("../img/hero-bg.jpg") top center no-repeat;
    background-size: cover;
    }
    #hero h2 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
      color: black !important;
      font-weight: bold;
    }
    #hero h1 {
      color:#096956 !important
    }
}
/* ver si es necesario, no revisado */
@media (min-width: 1200px) and (max-width: 1350px)  {
  #hero {
    background-attachment: fixed;
  }
  #hero:before{
    background: url("../img/hero-bg.jpg") top center no-repeat;
    background-size: cover;
    }
    #hero h2 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
      color: black !important;
      font-weight: bold;
    }
    #hero h1 {
      color:#096956 !important
    }

}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

section2 {
  overflow: hidden;
}

.linea {
  content: "";
  width: 90px;
  height: 3px;
  background-color: #fdc727;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  bottom: -25px;
}

.section-title {
  text-align: center;
  padding: 40px 0px;
  position: relative;
}
.section-title-inner {
  text-align: center;
  padding: 0px 0;
  position: relative;
}

/* .section-title h2 {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
} */

.section-title span {
  position: absolute;
  top: 30px;
  color: #fdc727c4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 0;
  padding-bottom: 10px;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  color: black;
  font-size: 18px;
  margin-top: 25px !important;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-size: 20px;
  margin-right: 50px;
  color: white;
  background-color: #096956;
  border-radius: 10px 10px 10px 10px ;
  padding: 15px;
  margin-top: 40px;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-size: 17px;
  margin-right: 50px;
}

.about .content ul li {
  padding-bottom: 10px;
  margin-right: 50px;
  padding: 15px;
}

.about .content p {
  padding-bottom: 10px;
  margin-right: 50px;
}

.about .content ul i {
  font-size: 17px;
  padding-right: 4px;
  color: #096956;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.sobreNosotros {
  text-decoration: none;
  font-family: "Poppins Regular", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 28px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #a9a8a8 !important;;
  background-color: #096956;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 210px; /* Centrar horizontalmente */
}


.sobreNosotros:hover{
  background-color: #096956;
  color: #fff
}


@media (max-width: 370px){
  .sobreNosotros {
    text-decoration: none;
    font-family: "Poppins Regular", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #a9a8a8 !important;;
    background-color: #096956;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 80px; /* Centrar horizontalmente */
  }

  .about .content h3 {
    font-weight: 600;
    font-size: 23px;
    color: white;
    background-color: #096956;
    padding: 15px;
    margin-top: -10px !important;
    width: 100%;
  }
  .sobreNosotros:hover{
    background-color: #096956;
    color: #fff
  }

  .about .content ul li {
    padding-bottom: 10px;
    margin-right: 80px !important;
    padding: 15px;
    width: 100%;
  }
  
  .about .content p {
    padding-bottom: 10px;
    margin-right: 80px !important;
    width: 100%;
    -webkit-text-size-adjust: 100%
  }
 
}


@media (min-width: 370px) and (max-width: 420px){
    .sobreNosotros {
    text-decoration: none;
    font-family: "Poppins Regular", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #a9a8a8 !important;;
    background-color: #096956;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 100px; /* Centrar horizontalmente */
    -webkit-text-size-adjust: 100%
  } 

  .about .content h3 {
    font-weight: 600;
    font-size: 23px;
    color: white;
    background-color: #096956;
    padding: 15px;
    margin-top: -10px !important;
    width: 350px;
  }
  .sobreNosotros:hover{
    background-color: #096956;
    color: #fff
  }

  .about .content ul li {
    padding-bottom: 10px;
    margin-right: 50px !important;
    padding: 15px;
    width: 350px;
  }
  
  .about .content p {
    padding-bottom: 10px;
    margin-left: 10px !important;
    width: 330px;
  }
}

@media (min-width: 421px) and (max-width: 500px){
  .sobreNosotros {
  text-decoration: none;
  font-family: "Poppins Regular", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #a9a8a8 !important;;
  background-color: #096956;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 110px; /* Centrar horizontalmente */
} 

.about .content h3 {
  font-weight: 600;
  font-size: 23px;
  color: white;
  background-color: #096956;
  padding: 15px;
  margin-top: -10px !important;
  width: 350px;
  margin-left: 13px;
}
.sobreNosotros:hover{
  background-color: #096956;
  color: #fff
}

.about .content ul li {
  padding-bottom: 10px;
  margin-right: 50px !important;
  padding: 15px;
  width: 380px;
}

.about .content p {
  padding-bottom: 10px;
  margin-left: 10px !important;
  width: 360px;
}
}

@media (min-width: 700px) and (max-width: 850px){
  .sobreNosotros {
  text-decoration: none;
  font-family: "Poppins Regular", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #a9a8a8 !important;;
  background-color: #096956;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 250px !important; /* Centrar horizontalmente */
} 

.about .content h3 {
  font-weight: 600;
  font-size: 23px;
  color: white;
  background-color: #096956;
  padding: 15px;
  margin-top: -10px !important;
  margin-left: 20px;
}
.sobreNosotros:hover{
  background-color: #096956;
  color: #fff
}

.about .content ul li {
  padding-bottom: 10px;
  margin-right: 50px !important;
  padding: 15px;
  margin-left: 40px;
}

.about .content p {
  padding-bottom: 10px;
  margin-left: 30px !important;
}
}

/* 
@media (min-width: 7504px) {
 {


  }
}

@media (min-width: 1100px) {
   {

   
  }
}
 */ */


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding-top: 20px;
}

.why-us .box {
  padding: 50px 30px;
  margin-top: 20px;
  transition: all ease-in-out 0.3s;
  background-color: #fdc727c4;
  border-radius: 0 20px 20px 20px;
  backdrop-filter: blur(10px);

}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #096956
}

.why-us .box h4 {
  font-size: 21px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #096956
}

.why-us .box p {
  color:#096956;
  font-size: 15px;
  margin: 0;
  padding: 0;
  
}

.why-us .box:hover {
  background: #ffffff;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px) !important;
  /* border: solid #096956; */
  /* border-style: inset; */
} 

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #0a0a0a;
}

@media(max-width: 768px){
  .why-us .box{
    padding: 10px; 
    box-shadow: 0px 0px 0px rgba(250, 250, 250, 0.1)
  }
  .why-us .box:hover{
    background: #ffffff;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: #096956;
  padding: 15px 0;
  text-align: center;
}

.clients img {
  width: 50%;
  /* filter: grayscale(100); */
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  filter: none;
  transform: scale(1.2);
}


.carousel {
  width: 100%;
}

.carousel-container {
  display: flex;
  animation: slide-animation 20s linear infinite;
}

.slide {
  flex: 0 0 100%;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 2px 15px rgba(242, 6, 6, 0.1);
  background: white;
  border: solid #096956; 
  border-radius: 0 15px 15px 20px;
  
}


.services .icon-box .icon {
  margin: 0 auto;
  width:10px;
  height: 10px;
  background-color: #096956;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.services .icon-box .icon img {
  font-size: 28x;
  width:130px;
  height: 130px;
  padding: 20px;
  color: #13b1cd;
}

.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(253,199,75,255);
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
  color:black
}

.services .icon-box h4 {
  font-weight: 700;
  font-size: 21px;
  color: #090909;
  padding: 40px;
  padding-bottom: 20px;
}

.services .icon-box h4 a {
  color: #0c0c0c;
}


.services .icon-box p {
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 0;
  color:black
  
}

.services .icon-box:hover {
  background-color: #fff;;
  padding: 70px 20px 90px 20px;
  cursor: pointer
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #096956;
}

.services .icon-box:hover .icon::before {
  background: #096956;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #090909;
}

.services .ss-btn{
  font-family: "Poppins Regular", sans-serif;
  font-weight: 500;
  font-size: bold 14px !important;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  margin-top: 10px;
  background-color: #fdc727c4;
}

.services .ss-btn:hover{
  font-family: "Poppins Regular", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  margin-top: 10px;
  color: #096956;
}

.header-envio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #fdc727c4 ;
  background-size: cover !important;
  margin-top: 0px !important;
}


.servicio-h3{
  padding: 50px; 
  margin-top: -50px; 
  color: #fdc727;
}

@media (max-width: 360px){
  #services h3{
    font-size: 15px;
  }

  .header-title {
    font-size: 20px !important;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.3)), url("../img/cta.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  height: 350px;
}


.cta-express {
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.3)), url("../img/cta-express.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  height: 550px;
}

.cta-day{
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.3)), url("../img/cta-day.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  height: 550px;
}

.cta-pactado {
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.3)), url("../img/cta-pactado.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  height: 550px;
}

.cta h3 {
  font-weight: bold;
  color: #096956;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  font-weight: bold;
  font-size: 18px;
  color: #096956;
}

.cta .cta-btn {
  font-family: "Poppins Regular", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #096956;
  color: white;
  background-color: #096956;
}

.cta .cta-btn:hover {
  background: rgba(253,199,75,255);
  border: 2px solid rgba(253,199,75,255);
}

@media (max-width: 370px){
  .cta p {
    font-weight: bold;
    font-size: 17px;
    color: #096956;
  }
  .cta h3 {
    font-weight: bold;
    color: #096956;
    font-size: 28px;
    font-weight: 700;
    margin-top: -30px;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;

}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins Regular", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #6c6363;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 100%;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #191919;
  width: 100%;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #4c4c4c;
  font-size: 14px;
  margin-bottom: 0;
  width: 100%;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #333333;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #096956;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #6e5b5b;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

.portfolio 

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 20px;
}

.imgQuienes{
  height: 600px; 
  width: 520px; 
  margin-left: 150px ;
  border-radius: 0 20px 20px 20px;
}


.imgServices {
  width: 100%;
  height: auto;
  border-radius: 0 20px 20px 20px !important;
  padding-left: 30px;

}


.portfolio-details .portfolio-details-slider img {
  width: 50%;
  margin-left: 80px;
  border-radius: 0 20px 20px 20px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
  margin-left: -70px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #096956;
  
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #096956;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(25, 25, 25, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}


.portfolio-details .portfolio-description h2 {
  font-size: 20px;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 20px;
  background-color: #096956;
  border-radius: 0 10px 10px 10px;
  color: white;
  height: 60px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.h2-pactado {
  height: 120px;
  width: 420px !important;
  padding-top: 30px;
  padding-bottom: 40px !important;
  margin-left: 0px !important;
}

.portfolio-details .portfolio-description p {
  font-size: 20px; 
  text-align: justify; 
  width: 100vw;
  padding-right: 20px;
}

.p-portfolio {
  padding: 0px;
  font-size: 22px !important; 
  text-align: justify; 
  margin-left: 150px !important; 
  width: 350px;
}

.p-portfolio-pactado {
  padding: 0px;
  font-size: 21px !important; 
  text-align: justify; 
  margin-left: 10px !important; 
  width: 400px;
}

.img-portfolio{
  height: 400px ; 
  width: 600px ; 
  margin-left: 150px; 
  border-radius: 0 20px 20px 20px;
}

@media (max-width: 680px) {

  .imgServices-Swiper {
    width: 100vw;
    height: auto;
    margin-left: 0px !important;
  }
  .imgServices{
    border-radius: 0 20px 20px 20px ;
    padding-left: 0px !important;
  }
}

@media (min-width: 680px) and (max-width: 1100px) {

  .imgServices-Swiper {
    width: 100vw;
    margin-right: 20px !important;
    margin-left: 0px !important;
    padding-right: 20px;
  }
  .imgServices{
    border-radius: 0 20px 20px 20px ;
    padding-left: 0px !important;
    height: 100%;
  }
}


@media (max-width: 600px) {


  .portfolio-details-slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor recortando si es necesario */
    margin-left: 0;
    margin-left: 90px !important;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
    margin-left: -10px;
  }


  .h2-pactado {
    height: 120px;
    width: auto !important;
    padding-top: 30px;
    padding-bottom: 40px !important;
    margin-left: 0px !important;
  }
  .p-portfolio {
    padding: 0px;
    font-size: 22px; 
    text-align: justify; 
    margin-left: 10px !important; 
    width: auto;
  }

  .p-portfolio-pactado {
    padding: 0px;
    font-size: 21px !important; 
    text-align: justify; 
    margin-left: 10px !important; 
    width: auto !important;
  }
  .img-portfolio{
    height: 250px ; 
    width: 330px ; 
    border-radius: 0 20px 20px 20px;
    margin-left: 10px !important;
    padding-bottom: -20px;
  }
  .quienes-somos{
    padding-top: 17px;
    text-align:justify;
    width: 100%;
    max-width: 100%;
    margin-left: 200px !important;
  }
  .portfolio-details .portfolio-description p {
    width: 100% !important;
    padding-left: 20px;
  }
}

@media (max-width: 688px){
  .quienes-somos-titulo{
    margin-left: 30px;
  }
  .header-title{
    font-size: 25px;
  }
}

@media (min-width: 688px) and (max-width: 1100px){
  .quienes-somos-titulo{
    height: 25vh !important;
  }
  .header{
    height: 15vh !important;
  }
  .header2{
    height: 15vh !important;
  }
}

@media (min-width: 600px) and (max-width: 986px) {

  .breadcrumbs-quienes-somos {
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url(../img/hero-bg1.jpg);
    background-position-y: 0px !important;
  } 

  .quienes-somos p{
    color: #060606 ;
    font-family: sans-serif; 
    font-size: 19px; 
    width: 100%;
    margin-left: -250px;
    padding: 10px;
   }

  .portfolio-details .portfolio-details-slider img {
    width: auto;
    border-radius: 0 20px 20px 20px;
    margin-left: 100px;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
    margin-left: -10px;
  }
  

  .h2-pactado {
    height: 120px;
    width: auto !important;
    padding-top: 30px;
    padding-bottom: 40px !important;
    margin-left: 0px !important;
  }
  .p-portfolio {
    padding: 0px;
    font-size: 22px; 
    text-align: justify; 
    margin-left: 10px !important; 
    width: auto;
  }

  .p-portfolio-pactado {
    padding: 0px;
    font-size: 21px !important; 
    text-align: justify; 
    margin-left: 10px !important; 
    width: auto !important;
  }
  .img-portfolio{
    height: 250px ; 
    width: 330px ; 
    border-radius: 0 20px 20px 20px;
    margin-left: 10px !important;
    padding-bottom: -20px;
  }
  .quienes-somos{
    padding-top: 17px;
    text-align:justify;
    width: 100%;
    max-width: 100%;
    margin-left: 280px !important;
  }
  .portfolio-details .portfolio-description p {
    width: 100% !important;
    padding-left: 20px;
  }
}


@media (min-width: 986px) and (max-width: 1300px) {


  .portfolio-details .portfolio-details-slider img {
    width: 65%;
    border-radius: 0 20px 20px 20px;
    margin-left: 15px;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
    margin-left: -130px;
  }
  

  .h2-pactado {
    height: 120px;
    width: auto !important;
    padding-top: 30px;
    padding-bottom: 40px !important;
    margin-left: 0px !important;
  }
  .p-portfolio {
    padding: 0px;
    font-size: 22px; 
    text-align: justify; 
    margin-left: 10px !important; 
    width: auto;
  }

  .p-portfolio-pactado {
    padding: 0px;
    font-size: 21px !important; 
    text-align: justify; 
    margin-left: 10px !important; 
    width: auto !important;
  }
  .img-portfolio{
    height: 250px ; 
    width: 330px ; 
    border-radius: 0 20px 20px 20px;
    margin-left: 10px !important;
    padding-bottom: -20px;
  }
  .portfolio-details .portfolio-description p {
    width: 100% !important;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fdc7279a;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f4434;
  font-weight:bold ;
}

.pricing .box h4 {
  font-size: 42px;
  color: #096956;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #096956;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #0f4434;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #096956;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color:#096956;
  text-decoration: line-through;
}

.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .box .btn-buy {
  background: #fdc727;;
  display: inline-block;
  padding: 10px 40px;
  color: #096956;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins Regular", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .box .btn-buy:hover {
  background: #fff;
  font-size: 16px;
}

.pricing .featured {
  background: #fdc727;
  box-shadow: none;
  color: #0f4434;
}

.pricing .featured h3,
.pricing .featured h4,
.pricing .featured ul,
.pricing .featured ul li,
.pricing .featured ul .na {
  color: #0f4434;
}

.pricing .featured h4 span {
  color: #096956;
}

.pricing .featured .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .featured .btn-buy {
  background: rgba(255, 255, 255, 0.2);
}

.pricing .featured .btn-buy:hover {
  background: #fff;
  color: #096956;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #096956;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  font-size: 17px;
  color: #096956 !important;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;

}

.contact .info-box i {
  font-size: 32px;
  background-color: #096956; 
  border-radius: 50%;
  padding: 8px;
  /* border: 2px dotted #d2f5a0; */
  color: #fee500;
  margin-bottom: 20px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;

}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}

.larger-container {
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  width: 70%; /* Ajusta el ancho según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.contact .php-email-form {
  box-shadow: 0 0 10px #096956;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
  background-color: #096956;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #096956;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background: rgba(253,199,75,255);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: url("../img/hero-bg.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: 150%;
}

.breadcrumbs-quienes-somos {
  padding: 15px 0;
  background: url("../img/hero-bg1.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -280px;
}

.breadcrumbs-services {
  background: url("../img/about222.jpg");
  height: 200px;

  background-size: cover;
}

@media (max-width: 500px) {
  .breadcrumbs-quienes-somos{
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("../img/hero-bg1.jpg");
    background-position: center;
  }
}
@media (min-width: 1200px) {
.breadcrumbs-quienes-somos {
  padding: 15px 0;
  background: url("../img/hero-bg1.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -280px;
}
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 600;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #333333;
  content: "/";
}

/* @media (min-width: 500px) {
  .breadcrumbs-quienes-somos{
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("../img/hero-bg1.jpg");
  }
} */

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 600;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #333333;
  content: "/";
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #096956;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
}

#footer .footer-top .footer-info h3 {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins Regular", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #262626;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgba(253,199,75,255);
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #096956;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: rgba(253,199,75,255);
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  outline: none;
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 70;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #096956;
  color: #fff;
  transition: 0.3s;
  /* border-radius: 4; */
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: rgba(253,199,75,255);
}

#footer .copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #13b1cd
}

#footer .logo2 img {
  max-height: 80px;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -0px 0 30px 0;
  }
}




/*---------------------------------------------------------*/

.quienes-somos-titulo{
  display: flex ;
  flex-direction: column ;
  justify-content: center !important;
  align-items: center !important ;
  height: 38vh;
  max-height: 100%;
  color: black;
}

.h2-quienes-somos-titulo{
  font-size: 28px;
}


.quienes-somos{
  padding-top: 17px;
  text-align: justify;
  width: 400px;
  margin-right: 250px !important;
}

.quienes-somos p{
 color: #060606 ;
 font-family: sans-serif; 
 font-size: 19px; 
 width: 100%;
 margin-left: -200px;
 padding: 10px;
}

.quienes-somos strong{
  color: #fdc727;
  background-color: #096956;
  border-radius: 0 10px 10px 10px ;
  font-weight: bold;
  font-family: sans-serif; 
  font-size: 22px; 
  padding: 10px;
  max-width: 700px; 
  margin-left: -190px;
 }

.text-primary {
  color: #fdc727 !important;
  font-weight: bold !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #096956;
  background-size: cover !important;
  margin-top: 0px !important;
}

.header-title {
  font-family: Poppins, sans-serif;
  font-weight:bold;
  color: #fdc727;

}

.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #096956;
  background-size: cover !important;
  margin-top: 55px !important;
}


.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-float i {
  margin-top: 18px;
}

.whatsapp-float:hover {
  background-color: #096956;
  color: #fff;
}





